In [105]:
# ФИО
Воробьев Евгений Юрьевич
# ГРУППА
ВМК 413

SyntaxError: invalid syntax (<ipython-input-105-13a002b587b8>, line 2)

1. Импортировать необходимые библиотеки для работы с данными (pandas). --- **0.1**

In [106]:
import pandas as pd

2. Импортировать датасет из файла 'restaurants.csv' и присвоить его переменной (например, переменной df). --- **0.1**

In [107]:
dfR = pd.read_csv('restaurants.csv', sep = ',')

3. Вывести первые 10 строк датафрейма. Изучить структуру таблицы. --- **0.1** Затем вывести типы колонок датафрейма. --- **0.1**

In [108]:
dfR.head(10)

,vendor_id,chain_id,city_name,specialisation,successful_orders,fail_orders,reorders
0,28957,20633,Архангельск,Супы,0.0,2.0,0.0
1,37381,27399,Архангельск,Пироги,0.0,0.0,0.0
2,28703,20431,Архангельск,Суши,111.0,3.0,0.0
3,37382,27399,Архангельск,Пироги,1.0,0.0,0.0
4,36877,27151,Архангельск,Бургеры,22.0,2.0,0.0
5,37650,27579,Архангельск,Суши,3.0,0.0,0.0
6,37127,27250,Астрахань,Суши,55.0,5.0,6.0
7,28476,20266,Астрахань,Суши,342.0,13.0,14.0
8,28478,20266,Астрахань,Суши,194.0,1.0,7.0
9,34127,25077,Астрахань,Пицца,136.0,4.0,1.0

vendor_id - уникальный идентификатор ресторана

chain_id - уникальный идентификатор сети, в которую входит ресторан

successful_orders - кол-во успешных заказов

fail_orders - кол-во неуспешных заказов

reorders - перезаказы

In [109]:
print(dfR.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784 entries, 0 to 783
Data columns (total 7 columns):
vendor_id            784 non-null int64
chain_id             784 non-null int64
city_name            784 non-null object
specialisation       784 non-null object
successful_orders    784 non-null float64
fail_orders          784 non-null float64
reorders             784 non-null float64
dtypes: float64(3), int64(2), object(2)
memory usage: 43.0+ KB
None

4. Сколько наблюдений в датафрейме (воспользоваться методом shape)? --- **0.1**

In [110]:
dfR.shape[0]

784

5. Сколько колонок в датафрейме?  --- **0.1** Вывести их имена. --- **0.1** Удалить колонку с названием "chain_id" (соледующие задания должны быть выполнены без этой колонки). --- **0.2**

In [111]:
dfR.shape[1]

7

In [112]:
dfR.columns

Index(['vendor_id', 'chain_id', 'city_name', 'specialisation',
       'successful_orders', 'fail_orders', 'reorders'],
      dtype='object')

In [113]:
dfR.drop(['chain_id'], axis='columns',inplace =True)

6. Сколько уникальных городов в датафрейме? --- **0.4**

In [114]:
dfR.city_name.value_counts().size

63

7. Кол-во ресторанов каждой специализации? --- **0.3**

In [115]:
dfR.specialisation.value_counts()

Суши                   329
Пицца                  179
Бургеры                 69
Шашлыки                 37
Рыба                    30
Японская                21
Пироги                  17
Русская                 15
Мясо                    14
Китайская               10
Шаурма                   8
Супы                     8
Сэндвичи                 6
Грузинская               5
Индийская                5
Выпечка                  5
Десерты                  5
Фастфуд                  4
Паста и ризотто          4
Итальянская              3
Хот-доги                 2
Паназиатская             2
Узбекская                2
Вегетарианское меню      1
Корейская                1
Мексиканская             1
Гирос                    1
Name: specialisation, dtype: int64

8. Получить среднее и стандартное отклонение по всему датафрейму только по колонкам successful_orders и fail_orders. --- **0.7**

In [116]:
data = dfR.describe()
data.loc[['mean', 'std']][['successful_orders', 'fail_orders']]

      successful_orders  fail_orders
mean         115.344388     2.576531
std          176.792621     5.361445

9. Вывести 10 городов с самым маленьким количеством ресторанов, а также кол-во ресторанов в них. --- **0.5**

In [117]:
dfR.city_name.value_counts().tail(10)

Череповец         9
Магнитогорск      8
Петрозаводск      7
Архангельск       6
Новокузнецк       5
Егорьевск         3
Стерлитамак       3
Йошкар-Ола        3
Вологда           3
Ханты-Мансийск    2
Name: city_name, dtype: int64

10. Вывести весь датафрейм только по тем ресторанам, у которых количество неуспешных заказов (fail_orders) было больше 20. --- **0.4**

In [118]:
dfR[dfR.fail_orders > 20]

,vendor_id,city_name,specialisation,successful_orders,fail_orders,reorders
95,24121,Волгоград,Пицца,445.0,24.0,25.0
145,33976,Екатеринбург,Суши,327.0,46.0,65.0
267,6520,Краснодар,Суши,1300.0,70.0,65.0
372,22211,Нижний Новгород,Суши,79.0,29.0,20.0
420,24126,Орел,Пицца,482.0,33.0,27.0
422,16157,Орел,Бургеры,506.0,25.0,31.0
511,20935,Самара,Пицца,1298.0,63.0,44.0
516,12235,Самара,Суши,779.0,32.0,51.0
543,5469,Саратов,Суши,617.0,28.0,26.0
656,25369,Тула,Пицца,205.0,38.0,18.0

11. Вывести весь датафрейм только по тем ресторанам, у которых количество неуспешных заказов (fail_orders) было больше 20 и успешных заказов (successful_orders) меньше 500, рестораны только из города Тула. --- **0.5**

In [119]:
dfR[dfR.city_name == 'Тула'][(dfR.fail_orders > 20) & (dfR.successful_orders < 500)]

D:\Soft\DevKits\Anaconda_3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,vendor_id,city_name,specialisation,successful_orders,fail_orders,reorders
656,25369,Тула,Пицца,205.0,38.0,18.0

12. Среднее кол-во успешных заказов по специализациям. --- **0.6**

In [144]:
for spec in dfR.specialisation.value_counts().index:
    data = dfR[dfR.specialisation == spec]
    print(spec + '  \t' + str(data['successful_orders'].mean()))

Суши  	134.68085106382978
Пицца  	144.44692737430168
Бургеры  	70.47826086956522
Шашлыки  	55.5945945945946
Рыба  	95.76666666666667
Японская  	171.52380952380952
Пироги  	28.11764705882353
Русская  	81.13333333333334
Мясо  	49.42857142857143
Китайская  	89.1
Шаурма  	23.0
Супы  	140.75
Сэндвичи  	118.66666666666667
Грузинская  	38.2
Индийская  	15.2
Выпечка  	12.8
Десерты  	8.2
Фастфуд  	22.25
Паста и ризотто  	39.75
Итальянская  	44.666666666666664
Хот-доги  	4.5
Паназиатская  	19.5
Узбекская  	15.5
Вегетарианское меню  	12.0
Корейская  	9.0
Мексиканская  	33.0
Гирос  	682.0

13. Рестораны какой специализации имеют самую высокую долю неуспешных заказов? Также посчитать эту долю (все заказы по конкретному ресторану складываются из успешных, неуспешных заказов и перезаказов). --- **1.0**

In [152]:
divOn = 0;
den = 0;
cur = 0
for spec in dfR.specialisation.value_counts().index:
    data = dfR[dfR.specialisation == spec]
    divOn = data.successful_orders.sum() + data.fail_orders.sum() + data.reorders.sum();
    cur = data.fail_orders.sum() / divOn
    den = cur if cur > den else den
den

0.30434782608695654

14. Для каждой специализации рассчитать минимальное и максимальное кол-во успешных заказов. --- **0.7**

In [145]:
for spec in dfR.specialisation.value_counts().index:
    data = dfR[dfR.specialisation == spec]
    print(spec + '  \t' + str(data['successful_orders'].max()) + '  \t' + str(data['successful_orders'].min()))

Суши  	1401.0
Пицца  	1644.0
Бургеры  	506.0
Шашлыки  	323.0
Рыба  	315.0
Японская  	461.0
Пироги  	185.0
Русская  	919.0
Мясо  	179.0
Китайская  	355.0
Шаурма  	93.0
Супы  	480.0
Сэндвичи  	241.0
Грузинская  	131.0
Индийская  	75.0
Выпечка  	24.0
Десерты  	22.0
Фастфуд  	66.0
Паста и ризотто  	66.0
Итальянская  	112.0
Хот-доги  	5.0
Паназиатская  	38.0
Узбекская  	25.0
Вегетарианское меню  	12.0
Корейская  	9.0
Мексиканская  	33.0
Гирос  	682.0

15. Рассчитать среднее кол-во успешных заказов по каждой специализации в городах Белгород и Уфа. --- **0.9**

In [155]:
for spec in dfR.specialisation.value_counts().index:
    data = dfR[dfR.specialisation == spec]
    data = data[(data.city_name == 'Белгород') | (data.city_name == 'Уфа')]
    print(spec + '  \t' + str(data['successful_orders'].mean()))

Суши  	266.77777777777777
Пицца  	313.0
Бургеры  	105.0
Шашлыки  	153.66666666666666
Рыба  	nan
Японская  	183.0
Пироги  	18.0
Русская  	158.0
Мясо  	2.0
Китайская  	nan
Шаурма  	0.0
Супы  	nan
Сэндвичи  	nan
Грузинская  	nan
Индийская  	nan
Выпечка  	nan
Десерты  	nan
Фастфуд  	nan
Паста и ризотто  	nan
Итальянская  	nan
Хот-доги  	nan
Паназиатская  	nan
Узбекская  	nan
Вегетарианское меню  	nan
Корейская  	nan
Мексиканская  	nan
Гирос  	nan

16. Импортировать таблицу "restaurant_scores.csv". В исходную таблицу добавить новый столбец "model_score" из таблицы "restaurant_scores", соединив таблицы по restaurant_scores.vendor_id = model_score.id. Вывести первые 5 строк получившейся таблицы. --- **0.8**

18. Итоговую таблицу сохранить на жестком диске в формате 'csv'. --- **0.3**

In [101]:
 dfR.to_csv('output.csv', index = False)

### Каждые 1.5 поинта - 1 балл.